*{
	box-sizing: border-box;
}

.fondo {
	background: url(../img/cab.gif) no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	min-width: 100vw;
	overflow: hidden;
}

.main {
	position: relative;
}

.line {
	border-bottom: 0.1rem gray solid;
	margin-bottom: 2rem;
}

.boton {
	color: white;
	background-color: rgba(0, 153, 153, 1);
	bottom: 1rem;
	margin: 3rem 0;
	position: relative;
	text-decoration: none;	
	width: 100%;
}

.boton:hover {
	background-color: rgba(0, 153, 153, 1);
	color: white;
}

.atras {
	font-size: 7rem;
	vertical-align: middle;
	width: 100%;
}

.two-fields {
    width: 100%;
}

.two-fields .input-group {
    width: 100%;
}

.two-fields input {
    width: 50% !important;
}

.inputCodigo {
	display: flex;
}

.map {
	min-width: 100vw;
	min-height: 100vh;
	position: absolute;
	z-index: 1;
}

.contenedor-mapa {
	margin-top: 4vh;
	position: absolute;
	z-index: 2;
	width: 100vw;
}

#profile {
	cursor: pointer;	
}